/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Begins Here */

html {
	min-width: 1000px;
	background-color: rgba(0,168,168,1);
}

body {
	background-color: white;
}

header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: rgba(0,168,168,1);
}

.name {
	font-size: 30px;
	margin-left: 20px;
}

.title {
	font-size: 20px;
}

nav {
	margin-right: 20px;
}

nav a {
	margin-right: 20px;
}

.final_link {
	margin-right: 0px;
}

header a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

header a:hover {
	color: rgba(0,128,128,1);
}

main {
	margin-top: 50px;
	min-height: calc(100vh - 75px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	min-height: 500px;
	height: calc(100vh - 50px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#headline {

}

.headlineMain {

}

#portfolio {
	background-color: rgba(0,168,168,0.1);
}

#about {

}

.aboutMain {

}

#resume {
	background-color: rgba(0,168,168,0.1);
}

.resumeMain {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.resume {
width: 310px;
height: 400px;
}

.resume:hover {
	opacity: 0.5;
	cursor: pointer;
}

.modal {
	position: fixed;
	display: none;
	z-index: 2;
	left: 0;
	top: 0;
	padding: 50px 0;
	min-width: 400px;
	width: 100vw;
	min-height: 400px;
	height: calc(100vh - 100px);
	overflow: auto;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.resumeText {
	width: 600px;
	height: 400px;
}

.quoteSection {
	display: flex;
	width: 100%;
}

.quoteColumnOne, .quoteColumnTwo {
	width: 50%;
	padding: 10px;
}

.resumeBlurb {
	font-size: 24px;
	text-align: center;
}

.resumeBlurbTwo {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.quote {
	font-size: 18px;
	text-align: center;
	margin-top: 60px;
}

.speaker {
	text-align: right;
	margin-top: 20px;
	margin-right: 40px;
	font-size: 14px;
}

.skills {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.skillLogo {
	height: 50px;

}

#contact {
	height: calc(100vh - 75px);
}

.contactMain {

}

.sectionHeader {
	font-size: 36px;
	text-decoration: underline;
	text-align: center;
}

footer {
	background-color: rgba(0,168,168,1);
	height: 25px;
	min-width: 1000px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
