/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Begins Here */
/* General CSS */

html {
	background-color: rgba(0,168,168,1);
	font-family: 'Quicksand', sans-serif;
}

body {
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: rgba(0,168,168,1);
}

.name {
	font-size: 30px;
	margin-left: 20px;
}

.subtitle {
	font-size: 20px;
	margin-left: 10px;
}

nav {
	margin-right: 20px;
}

nav a {
	margin-right: 20px;
}

.final_link {
	margin-right: 0px;
}

header, header a {
	color: white;
}

header a:hover {
	color: rgba(0,128,128,1);
}

main {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	height: calc(100vh - 50px);
	width: 100%;
}

#contact {
	height: calc(100vh - 75px);
}

#portfolio, #resume {
	background-color: rgba(0,168,168,0.1);
}

.sectionHeader {
	font-size: 30px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-weight: bold;
}

.headlineMain, .portfolioMain, .aboutMain, .resumeMain, .contactMain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: calc(100vh - 150px);
}

.aboutMain, .resumeMain, .contactMain {
	flex-direction: row;
	padding: 0 100px;
}

.contactMain {
	height: calc(100vh - 125px);
}

.sectionFooter {
	font-size: 36px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionFooter:hover {
	background-color: rgba(0,0,0,0.1);
	opacity: 0.5;
	cursor: pointer;
}


i {
	margin-right: 20px;
	color: black;
}


i a {
	text-decoration: none;
	color: black;
}

i:hover {
	opacity: 0.5;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

footer {
	background-color: rgba(0,168,168,1);
	height: 25px;
	min-width: 1000px;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

/* Headline Specifics */

.headlineMain {
	flex-direction: row;
	justify-content: space-around;
	height: calc(100vh - 100px);
	padding: 0 100px;
}


.headshot {
	width: 400px;
	border-radius: 50%;
}

.headlineText {
	display: flex;
	flex-direction: column;
	font-size: 36px;
}

.headlineText p {
	margin-top: 50px;
}

/* Portfolio Specifics */

.portfolioShow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	height: calc(100vh - 150px);
	width: 100%;
}

.portfolioText {
	text-align: left;
	padding: 40px 250px 40px 40px;
	width: 400px;
}

.portfolioText h4 {
	font-size: 24px;
	margin: 10px 150px;
	line-height: 30px;
}

.portfolioIndexText {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 24px;
	height: calc(100vh - 450px);
}

.portfolioText p {
	font-size: 20px;
	line-height: 26px;
	margin: 20px 0;
}

.portfolioText i {
	margin: 0 20px;
}

.portfolioImage {
	margin-left: 100px;
}

.portfolioImage img {
	box-shadow: 2px 2px grey;
}

.screenshot {
	width: 500px;
}

.screenshot:hover {
	opacity: 0.5;
	cursor: pointer;
}

.website {
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: flex-end
}

.website {
	font-size: 50px;
}

.website a {
	color: black;
	text-decoration: none;
}

.website a:hover {
	opacity: 0.5;
}

.website img:hover {
	opacity: 0.5;
}

.portfolioLinks {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	height: 300px;
	padding-bottom: 30px;
}

.hanoiLinkBox, .deliverWeLinkBox, .plusOneLinkBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 270px;
	transition: all .3s ease-in-out;
}

.hidden {
	visibility: hidden;
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

.thumbnailTitle {
	font-size: 16px;
	font-weight: bold;
}

.hanoiLinkBox:hover, .deliverWeLinkBox:hover, .plusOneLinkBox:hover {
	transform: translateY(-40px);
	z-index: 1;
}

.hanoiLinkBox:hover img, .deliverWeLinkBox:hover img, .plusOneLinkBox:hover img {
	transform: scale(1.5);
}

.hanoiLinkBox:hover .hidden, .deliverWeLinkBox:hover .hidden, .plusOneLinkBox:hover .hidden {
	visibility: visible;
	background-color: rgba(245,245,245,1);
	border-radius: 10px;
	margin-bottom: 10px;
	transform: translateY(-30px);
	box-shadow: 1px 1px grey;
}

#hanoiThumbnail, #deliverWeThumbnail, #plusOneThumbnail {
	height: 100px;
}
 /* About Specifics */

 .aboutPhotos {
 	flex-wrap: wrap;
 	width: 40%;
 }

 .aboutText {
 	margin-left: 100px;
 	font-size: 20px;
 	line-height: 30px;
 	width: 60%;
 }

  .aboutImage {
  	width: 200px;
  	border-radius: 50%;
  	box-shadow: 2px 2px grey;
  }

	.paragraph {
		margin-bottom: 20px;
	}

 /* Resume Specifics */
 	.resumeMain{
		height: calc(100vh - 200px);
	}

 .resumeText {
 	width: 600px;
 	height: 400px;
 }

 .resume {
 width: 310px;
 height: 400px;
 box-shadow: 2px 2px grey;
 }

 .resume:hover {
 	opacity: 0.5;
 	cursor: pointer;
 }

 .resumeTextHeader {
 	font-size: 24px;
	margin-bottom: 20px;
 	text-align: center;
 }

 .quoteSection {
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-around;
 	width: 100%;
 }

 .quoteBox {
 	width: 45%;
 }

 .quote {
 	font-size: 18px;
 	text-align: center;
 	margin-top: 30px;
 }

 .speaker {
 	text-align: right;
 	margin-top: 10px;
 	margin-right: 40px;
 	font-size: 14px;
 }

 .modal {
 	position: fixed;
 	display: none;
 	z-index: 3;
 	left: 0;
 	top: 0;
 	padding: 10px 0;
 	min-width: 400px;
 	width: 100vw;
 	min-height: 400px;
 	height: calc(100vh - 20px);
 	overflow: auto;
 	background-color: rgba(0,0,0,0.7);
 	border: 1px solid black;
 }

 .modal-content {
 	margin: auto;
 	display: block;
 	width: 80%;
 	max-width: 700px;
 }

 .close {
 	position: absolute;
 	top: 15px;
 	right: 35px;
 	color: #f1f1f1;
 	font-size: 40px;
 	font-weight: bold;
 	transition: 0.3s;
 }

 .close:hover, .close:focus {
 	color: #bbb;
 	text-decoration: none;
 	cursor: pointer;
 }

 .skills {
 	height: 50px;
 	width: 100%;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 }

 .skillLogo {
 	height: 50px;
 }

 /* Contact Specifics */

 .iconSpan {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-size: 18px;
 }
